.container-fluid{
  background-color: #080808f5;
  margin:0px;
  text-align: center;
  }
#im img{
width:50px;
height:50px;
padding-bottom: 10px;
padding-top:0px;
margin:0px;
}
#tit{
  font-size: 40px;
  padding-top:10px;
  padding-bottom:10px;

font-variant:small-caps;
color:#ccc9aa;
font-weight: bolder;

}
/* #carouselExampleIndicators{
  margin: 0px;
  padding:0px;
} */
.navbar {
  padding:0px;
}
.nav-item{
      color:#e0e0db;

}
.bg-primary {
    background-color: #6948ad!important;
}
.navbar-expand-lg{
margin:0px;
  font-size: 20px;
}
.navbar-nav{
  margin-left:10px;
}
.navbar-brand{
margin-left:10px;
color:#17a2b800;
}
.badge-info{

background-color:#6948ad;
}
.badge-info:hover{
  background-color:black;
}
.badge{
padding: .65em .7em;
  font-size: 95%;
      font-family: -webkit-body;
    }
    .dropdown-item{
      font-family: serif;
      font-size: 20px;
    }
      .dropdown-item:link, .dropdown-item:visited{
        color:white;
      }
      .dropdown-item:hover, .dropdown-item:active{
        color:green;
        background-color: orange;
      }

.dropdown-menu{
  background-color: green;
}

.art p{
  text-indent: 15px;
  margin:5px;
  text-align: justify;
}
.foot{
  display:block;
  background-color:#502f2f;
  color:white;
  text-align: center;
  width: 100%;
  padding:10px;

  }
/* For team*/
.cont{
padding:20px;
  width: 100%;
  background-color: skyblue;
  }
.cont table{
  border: 2px solid #6377726e;
}
.cont table tr td a{
  padding:5px;
  color:#373a3e;
}
.info {
    display: block;
  margin:0px;
  padding:5px;
  background-color: #b3a173;
}
.info h4{
  background-color: brown;
  color:white;
  margin-left: 0px;
  padding:08px;

}
.info a img{
  float:left;
  margin-right:5px;
  background-color: yellow;
  }
  .info p{
    text-align: justify;
    }

  /*login info*/
  .logsec{
background-color: skyblue;
width: 100%;
height: 100%;
margin:0px;
  }
  #log{
    padding-top:5%;
      margin:0px;
  }
  #log fieldset{
    padding-left:40%;
}
/*registration  */
.regsec{
background-color: skyblue;
width: 100%;
height: 100%;
margin:0px;
}
#reg{
  padding-top:5%;
    margin:0px;
}
#reg fieldset{
  display:block;
  padding-left:40%;
}
/* feedback */
 .feed{
  background-color: skyblue;
  width: 100%;

  margin:0px;
  padding:10px;
}
#feedform{
height:100%;
}
