<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
      <a class="navbar-brand  badge badge-info" href="./index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./team.html">Team <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./matches.html">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./highlights.html">Highlights</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="./getin.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Get-In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./register.html">Register</a>
              <a class="dropdown-item" href="./login.html">login</a>
              <a class="dropdown-item" href="./feedback.html">feedback</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <p>Please register if you are not registered and enjoy the latest updates of <abbr title="Indian Cricket Team"><strong>ICR</strong>.</abbr></p>
    <footer class="foot">
  &copy 2019, All Rights are reserved..Copyrights not tolerated.
    </footer>
      <script src="./js/jquery-3.3.1.slim.min.js"></script>
      <script src="./js/popper.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
